* {
    box-sizing: border-box;
    margin: 0px;
  }
  
  .body {
    margin: 0em;
  }
  

.conteiner{
   display: flex;
   flex-direction: column; 
   background-color:  #12172B;
   width: 100vw;
   height: 100vh;

}

.cartoes{
    background-color: #133953;
    height: 5em;
    margin-left: 10em;

}

.titulo{
    height: 70px;
    color: white;

}


.titulo2{
    color: white;
    direction: rtl;
}

.cabe{
  display: flex;
  flex-direction: row ;
  direction: center;
  justify-content: space-between;
}

.pagamento{
  

}

.span{
     color: #00EAFF;
}

.paga{
    background-color: #19506B;
    width: 90px;
    height: 10em;
    justify-content: space-between;

}

.pix{
   color:white;
   direction: ltr;
}

.cartao{
    color:white;
}

.boleto{
    color:white;
}

.paga2{
    display: flex;
    flex-direction: column;
    direction: center;
    background-color: #19506B ;
    align-items: center;
    margin: auto;
    height: 35em;
    width: 70em;
}



.informacoes{
    display: flex;
   flex-direction: row !important; 
   background-color: white;
}



.Numero_cartao{
  color: white;
}

.Nome_titular{
    color: white;

}

.vescimento{
    color: white;

}


.Sobrenome{
    color: white;
}


.codigo{
    color: white;


}

.info{
    direction: center;
    margin-left: 10em;
}

.botoes{
    display: flex;
    flex-direction: row;
}