.hp1-logo{
  display: flex;
  padding-left:3em ;
}
.hp1-nome{
padding-top: 0.7em;
}
  
  .hp1-buscap{
      display: flex;
      flex-direction: row;
      background-color: #12172B;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  }
  .hp1-seus{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  
  

  .divBusca input{
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
    border-bottom: 0px solid;
    outline: none;
    color:white;
  }
  ::placeholder{
      color: white;
      opacity: 50%;
  }
 
  .divBusca{
      display: flex;
      flex-direction: row;
      background-color:#84D1DD;
      border:solid 1px;
      border-radius:10px;
      width:500px;
      font-family: "Rowdies";
      justify-content: space-between;
    }
    
    .divBusca button{
      margin-top: 0.2em;
      border: none;
      background-color: #84D1DD;
      border-radius: 20px;
      cursor: pointer;
}

   
    #txtBusca{
      float:left;
      background-color:transparent;
      padding-left:10px;
      font-style:italic;
      font-size:14px;
      border:none;
      height:32px;
      font-family: "Rowdies";
      font-weight: 400;
      width: 35.5em;
    
    }

  

    .hp1-bolsa, .hp1-favorito,.hp1-perfil{
      padding-left: 1em;
    }

    .hp1-perfil{
      padding-right: 3em;
      padding-top: 3px;
    }

    .hp1-favorito{
      padding-top: 3px;
    }





    * { 
    margin: 0px;
}
