* {
    margin: 0;
    padding: 0;
  }
  
  body {
      background-color: #135578;
  }


  .conteiner {
    max-width: 100vw;   
    min-height: 100vh;
  
    /* background-image: url('../../../DescricaoLivro/assets/images/fundo-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: 100vw; */
  }
  
  .titulo {
    display: flex;
    flex-direction: row !important;
  
    justify-content: center;
  
    margin: 1em;
  }
  
  .titulo p {
    color:white;
    font-family: Rowdies;
    font-size: 2em;
    font-weight: 300;
    text-shadow: 2px 3px black;
  
      -webkit-text-stroke-width: 0.5px; /* largura da borda */
      -webkit-text-stroke-color: #00B6FF; 
  }
  
  .quadrado {
    width: 40px;
    height: 1px;
    background: #6ECAEF ;
    margin-top: 1.2em;
  }


  .livros {
      margin-top: 5em;

      display: flex;
      flex-direction: row !important;
      flex-wrap: wrap;
      
      align-content: center;
      justify-content: center;
  }

  .livros img {
      padding-bottom: 0.5em;
  }
  .livro {
      width:20vw;

      font-family: Rowdies;
      color: white;
  }
  .back {
      text-align: center;
      padding-top: 1em;

      background-color: #61A9D4;
  }

  .boxinfo {
      background-color: #84D1DD;

      display: flex;
      flex-direction: column;

      line-height: 2em;
      padding-top:0.5em;
      padding-bottom: 0.5em;

      font-family: Rowdies;

      color:rgb(24, 68, 110);
      letter-spacing: 0.1em;
  }

  .boxinfo p, h3 {
      color: #D3EEFD;
      font-family: Rowdies;
      font-size: 1.5em;
      -webkit-text-stroke-width: 1px; /* largura da borda */
      -webkit-text-stroke-color: black; 
      text-decoration: underline;
  }

.boxinfo h3 {
    color :white;
}

@font-face {
    font-family: "Rowdies";
    src: url("../../assets/fonts/Rowdies-Bold.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("../../assets/fonts/Quicksand-VariableFont_wght.ttf");
}
