

* {
    margin: 0px;
}

.conteiner {
    max-width: 100vw;   
    min-height: 99vh;
    padding-bottom: 0.4em;

    background-image: url('../RedefinirSenha/assets/images/aaaaaaaaaaa.png');
    background-repeat: no-repeat;

    background-color: #125172;
}

.logo img {
    margin-left: 73em;
    margin-top: 6em;
    height: 5em;

    cursor: pointer;
}

.box-1 {
    color: white;
    padding: 4em 4em;
}
.titulo h1 {
    font-size: 3em;
    font-weight: 500;
    font-family: Rowdies-bold;
}
.subtitulo h3 {
    font-size: 2em;
    font-family: Quicksand;
}


.inputs-1, .inputs-2 {
    display: flex;
    flex-direction: column;

    width: 500px;

    margin: auto;

    text-align: center;

    font-family: Quicksand;

    color: white;
}

.inputs-1 {
    margin-bottom: 1em;
}
.inputs-2 {
    text-decoration: underline;
}


.squad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}